@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

body{
  background-color: #f3f4f6;
}

.custom-img {
  background-image: url('https://i.ibb.co/gFxdFTD/photo-1525562723836-dca67a71d5f1.jpg')
}